/* sidebar.css */
.sidebar {
  width: 100px;
  border-right:2px solid blue;

  height: 100vh;
  background: #000;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar .menu a {
  display: block;
  padding: 12px 0;
  color: #b3b3b3;
  text-decoration: none;
}
.sidebar .menu a:hover {
  color: white;
}
